* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    height: 73px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #3A2728;
    border-bottom: 1px solid #1F2937;
    backdrop-filter: blur(8px);
}
.container_1 img {
    width: 25px;
    height: 20px;
}
.name_web {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: 900;
    font-style: black;
}
#name_1 {
    color: #FFFFFF;
    line-height: 28px;
    letter-spacing: -1px;
}
#name_2 {
    color: #E60A15;
    line-height: 100%;
    letter-spacing: 0px;
}
.container_1 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 212px;
    height: 28px;
    margin-top: 22px;
    margin-bottom: 22px;
    align-items: center;
    margin-left: 40px;
}
.container_2 {
    margin-right: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    margin-right: 40px;
}
.taskbar {
    width: 287.78px;
    height: 40px;
    gap: 36px;
    display: flex;
    align-items: center;
}
.taskbar a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#btn_login {
    width: 175px;
    height: 40px;
    border-radius: 8px;
    background-color: #E70814;
    box-shadow: 0px 4px 6px -4px #E708144D;
    font-weight: 700;
    font-size: 14px;    
    line-height: 21px;
    letter-spacing: 0.21px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FFFFFF ;
    box-shadow: 0px 1px 2px -1px #0000001A;
    box-shadow: 0px 1px 3px 0px #0000001A;
    margin-top: 16px;
    cursor: pointer;
}
.first_page {
    width: 100%;
    height: 100vh;
}
.film_hot_poster::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, #111827 0%, rgba(17, 24, 39, 0.3) 50%, rgba(17, 24, 39, 0) 100%);
    z-index: 2;
    height: 100%;
}
.picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
.note {
    position: absolute;
    top: 156px;
    left: 50px;
    z-index: 10;
}
.status {
    display: flex;
    width: 140px;
    height: 26px;
    border-radius: 9999px;
    background: #E60A151A;
    border: 1px solid #E60A154D;
    backdrop-filter: blur(4px);
    padding: 4px 12px;
    gap: 10px;
    align-items: center;
}
.status p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 16px;
    color: #E60A15;
}
.status img {
    width: 8px;
    height: 8px;
}
.note h1 {
    width: 672px;
    height: 144px;
    margin-top: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -1.8px;
    color: white;
}
.note h3 {
    margin-top: 16px;
    width: 595px;
    height: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32.5px;
    color: #D1D5DB;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.information_film {
    margin-top: 32px;
    display: flex;
    gap: 16px;
}
.book_film {
    display: flex;
    gap: 8px;
    width: 190px;
    height: 50px;
    border-radius: 5px;
    padding: 0 32px;
    align-items: center;
    background-color: #E60A15;
    cursor: pointer;
}
.book_film img {
    width: 20px;
    height: 16px;
}
.book_film p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #FFFFFF;
}
.trailer {
    width: 182px;
    height: 50px;
    border-radius: 5px;
    padding: 0 32px;
    display: flex;
    gap: 8px;
    background: #00000066;
    border: 1px solid #4B5563;
    backdrop-filter: blur(4px);
    align-items: center;
    cursor: pointer;
}
.trailer img {
    width: 20px;
    height: 20px;
}
.trailer p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #FFFFFF;
}
.body_page1 {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #111827;
    padding-right: 32px;
    padding-left: 32px;
}
.active_film {
    display: flex;
    justify-content: space-between;
}
.active_film p {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.see_all {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
}
.see_all p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #E60A15;
}
.see_all img {
    width: 12px;
    height: 12px;
}
#main_movie {
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
} 
.film {
    width: 390px;
    background: #1F2937;
    border: 1px solid #1F2937;
    border-radius: 8px;
}
.film img {
    width: 100%;
    height: 390px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}
.film p {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 15px;
}
.category {
    display: flex;
    gap: 10px;
    margin-left: 15px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.category i {
    width: 16px;
    height: 16px;
    color: gray;
}
.category p {
    font-weight: 500;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 0px;
    margin-left: 0px;
    color: gray;
    letter-spacing: 1px;
}
.btn_buy_ticket {
    margin: 20px;
    width: 350px;
    text-align: center;
    height: 50px;
    border-radius: 8px;
    border: 1px solid rgba(173, 25, 25, 0.247);
    background-color: rgba(255, 0, 0, 0.274);
    font-size: 24px;
    padding: 10px;
    font-weight: 500;
    color: red;
    transition: all 0.2s linear;
    cursor: pointer;
}
.body_page2 {
    background: #151D2E;
    border-top: 1px solid #1F2937;
    padding-bottom: 64px;
    padding-top: 64px;
    padding-left: 32px;
    padding-right: 32px;
}
.body_page2 h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0,75px;
    color: #FFFFFF;
    text-align: center;
}
.body_page2 > p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #9CA3AF;
    text-align: center;
    margin-top: 16px;
}
#endow {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}
.card {
    background: #1F2937;
    border: 1px solid #374151;
    width: 490px;
    border-radius: 8px;
    text-align: center;
    height: 260px;
}
.theme img {
    width: 26px;
    height: 26px;
}
.theme {
    background: #E60A151A;
    width: 60px;
    height: 60px;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-left: 215px;
}
.card h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;
}
.card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9CA3AF;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0 22px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.card a {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #E60A15;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
}
.body_page3 {
    background: #111827;
    border-top: 1px solid #1F2937;
    padding: 64px 32px;
}
.body_page3 h1 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.75px;
    color: #FFFFFF;
    text-align: center;
}
.why {
    display: flex;
    justify-content: space-evenly;
}
.reason {
    width: 490px;
    background: #1F2937;
    border: 1px solid #1F2937;
    box-shadow: 0px 1px 2px 0px #0000000D;
    padding: 24px;
    border-radius: 8px;
    margin-top: 30px;
}
.reason img {
    width: 24px;
    height: 28px;
}
.reason h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 15px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.reason p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9CA3AF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 10px;
}
.body_page4 {
    background: #1F2937;
    border-top: 1px solid #1F2937;
    padding: 48px 32px;
    display: flex;
    justify-content: space-between;
}
.introduce_register h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.introduce_register p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #9CA3AF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.form_register {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form_register input {
    background: #111827;
    border: 1px solid #374151;
    border-radius: 4px;
    width: 288px;
    height: 42px;
    padding-left: 10px;
}
.form_register button {
    width: 100px;
    height: 42px;
    background-color: #E60A15;
    padding: 9.5px 16px 10.5px 16px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
footer {
    border-top-color: gray ;
    padding: 40px 32px;
    background: #111827;
    border-top: 1px solid #1F2937;
}
#link {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.path {
    display: flex;
    gap: 32px;
}
.path a {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #9CA3AF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#logo {
    display: flex;
    gap: 15px;
}
.copyright {
    text-align: center;
    margin-top: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #9CA3AF;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.body_page1 {
    position: relative;
    width: 100%;
}
#main_movie {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
#main_movie::-webkit-scrollbar {
    display: none;
}   
.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev {
    position: absolute;
    left: 10px;
}

#next {
    position: absolute;
    right: 10px;
}
.video_trailer_film {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.video_content {
    position: relative;
    width: 1280px;
    height: 700px;
}
.close {
    color: white;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    right: 5px;
    top: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;
}
iframe {
    width: 100%;
    height: 100%;
}
#prev1 {
    position: absolute;
    left: 10px;
}
#next1 {
    position: absolute;
    right: 10px;
}
.first_page {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.first_page::-webkit-scrollbar {
    display: none;
} 
.film_hot_poster {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.countdown p {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}
.show_all {
    display: flex;
    gap: 10px;
}
.remove_show_all {
    display: flex;
    gap: 10px;
    display: none;
}